
<!--<h1>글작성 완료!</h1>-->
<!--<form action="/">-->
<!--    <p>Title : <%= @title%></p>    -->
<!--    <p>Content</p>-->
<!--    <p><%= @content %></p>-->
<!--    <button type="submit">확인</button>-->
<!--</form>-->
