<h1>User Information</h1>
<h3>User List</h3>
<% @users.each do |user| %>
<p>E-mail : <%= user.email %></p>
<p>Password : <%= user.password %></p>
<a href="/user/show/<%= user.id%>"></a>
<hr/>
<% end %>