<h1>Login</h1>
<form action="/user/login_process">
    E-mail : <input type="text" name="email">
    Password : <input type="password" name="password">
    <button type="submit">Login</button>
</form>
